# {{ ansible_managed }}

ALLOWED_HOSTS={{ netbox_allowed_hosts }}
CORS_ORIGIN_ALLOW_ALL={{ netbox_cors_origin_allow_all }}
CORS_ORIGIN_ALLOW_ALL=True
CORS_ORIGIN_WHITELIST={{ netbox_cors_origin_whitelist }}
DB_HOST={{ netbox_pg_host }}
DB_NAME={{ netbox_pg_db }}
DB_PASSWORD={{ netbox_pg_password }}
DB_USER={{ netbox_pg_user }}
EMAIL_FROM={{ netbox_email_from }}
EMAIL_PASSWORD={{ netbox_email_password }}
EMAIL_PORT={{ netbox_email_port }}
EMAIL_SERVER={{ netbox_email_server }}
EMAIL_SSL_CERTFILE={{ netbox_email_certfile }}
EMAIL_SSL_KEYFILE={{ netbox_email_keyfile }}
EMAIL_TIMEOUT={{ netbox_email_timeout }}
# EMAIL_USE_SSL and EMAIL_USE_TLS are mutually exclusive, i.e. they can't both be `true`!
EMAIL_USE_SSL={{ netbox_email_use_ssl }}
EMAIL_USE_TLS={{ netbox_email_use_tls }}
EMAIL_USERNAME={{ netbox_email_username }}
ENFORCE_GLOBAL_UNIQUE={{ netbox_enforce_global_unique }}
GRAPHQL_ENABLED={{ netbox_graphql_enabled }}
HOUSEKEEPING_INTERVAL={{ netbox_housekeeping_interval }}
LOGIN_REQUIRED={{ netbox_login_required }}
MAX_PAGE_SIZE={{ netbox_max_page_size }}
MEDIA_ROOT={{ netbox_base_dir }}/media
METRICS_ENABLED={{ netbox_metrics_enabled }}
NAPALM_PASSWORD={{ netbox_napalm_password }}
NAPALM_TIMEOUT={{ netbox_napalm_timeout }}
NAPALM_USERNAME={{ netbox_napalm_username }}
PAGINATE_COUNT={{ netbox_default_page_size }}
REDIS_CACHE_DATABASE=0
REDIS_CACHE_HOST={{ netbox_redis_cache_host }}
REDIS_CACHE_INSECURE_SKIP_TLS_VERIFY={{ netbox_redis_cache_insecure_skip_tls_verify }}
REDIS_CACHE_PASSWORD={{ netbox_redis_cache_password }}
REDIS_CACHE_SSL={{ netbox_redis_cache_ssl }}
REDIS_DATABASE=0
REDIS_HOST={{ netbox_redis_host }}
REDIS_INSECURE_SKIP_TLS_VERIFY={{ netbox_redis_insecure_skip_tls_verify }}
REDIS_PASSWORD={{ netbox_redis_password }}
REDIS_SSL=false
RELEASE_CHECK_URL=https://api.github.com/repos/netbox-community/netbox/releases
SECRET_KEY={{ netbox_secret_key }}
SKIP_STARTUP_SCRIPTS={{ netbox_skip_startup_scripts }}
SKIP_SUPERUSER={{ netbox_skip_superuser }}
SUPERUSER_API_TOKEN={{ netbox_admin_api_token }}
SUPERUSER_EMAIL={{ netbox_admin_email }}
SUPERUSER_NAME={{ netbox_admin_username }}
SUPERUSER_PASSWORD={{ netbox_admin_password }}
WEBHOOKS_ENABLED={{ netbox_webhooks_enabled }}
{% if netbox_container_env %}
{% for key, value in netbox_container_env.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}
