---

- name: Update netbox directories
  ansible.builtin.file:
    path: "{{ netbox_base_dir }}/{{ item }}"
    state: directory
    recurse: true
  loop:
    - env

- name: Update environment files
  ansible.builtin.template:
    src: "env/{{ item }}.j2"
    dest: "{{ netbox_base_dir }}/env/{{ item }}"
    mode: "0644"
  loop:
    - netbox.env
    - postgres.env
    - redis-cache.env
    - redis.env
  notify: Restart netbox

- name: Update configuration files
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "{{ netbox_base_dir }}/{{ item }}"
    mode: "0644"
  loop:
    - docker-compose.yml
    - extra.py
  notify: Restart netbox

- name: Remove outdated files
  ansible.builtin.file:
    path: "{{ netbox_base_dir }}/{{ item }}"
    state: absent
  loop:
    - netbox.env
    - configuration/configuration.py
    - configuration/gunicorn_config.py
