---
- name: Update netbox directories
  ansible.builtin.file:
    path: "{{ netbox_base_dir }}/{{ item }}"
    state: directory
    recurse: true
  loop:
    - env

- name: Update environment files
  ansible.builtin.template:
    src: "env/{{ item }}.j2"
    dest: "{{ netbox_base_dir }}/env/{{ item }}"
    mode: "0644"
  loop:
    - netbox.env
    - postgres.env
    - valkey-cache.env
    - valkey.env

- name: Update configuration files
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "{{ netbox_base_dir }}/{{ item }}"
    mode: "0644"
  loop:
    - docker-compose.yml
    - extra.py
    - custom_pipeline.py
    - Caddyfile

- name: Remove outdated files
  ansible.builtin.file:
    path: "{{ netbox_base_dir }}/{{ item }}"
    state: absent
  loop:
    - netbox.env
    - configuration/configuration.py
    - configuration/gunicorn_config.py
    - nginx-unit.json

- name: Restart netbox
  community.docker.docker_compose_v2:
    project_src: "{{ netbox_base_dir }}"
    pull: always
  changed_when: false
