#jinja2: lstrip_blocks: True
# {{ ansible_managed }}
# Source: https://github.com/netbox-community/netbox-docker/blob/release/docker-compose.yml

services:
  netbox: &netbox
    image: {{ netbox_netbox_image }}
    depends_on:
      - postgres
      - valkey
      - valkey-cache
    env_file: env/netbox.env
    user: "unit:root"
    healthcheck:
      test: curl -f http://localhost:8080/login/ || exit 1
      start_period: 90s
      timeout: 3s
      interval: 15s
    volumes:
      - ./nginx-unit.json:/etc/unit/nginx-unit.json:ro
      - ./reports:/etc/netbox/reports:z,ro
      - ./scripts:/etc/netbox/scripts:z,ro
      - ./extra.py:/etc/netbox/config/extra.py:ro
      - netbox-media-files:/opt/netbox/netbox/media:z
    security_opt:
      - seccomp:unconfined
    {% if netbox_port %}
    ports:
      - "{{ netbox_port }}:8080"
    {% else %}
    expose:
      - "8080"
    {% endif %}
    restart: unless-stopped
    {% if netbox_container_labels %}
    labels:
      {{ netbox_container_labels | to_nice_yaml | indent(6) }}
    {% endif %}
    networks:
      - default
    {% if netbox_additionnal_network_names %}
      {% for network in netbox_additionnal_network_names %}- {{ network }}{% endfor %}
    {% endif %}

  netbox-worker: &netbox-worker
    <<: *netbox
    depends_on:
      valkey:
        condition: service_healthy
      netbox:
        condition: service_healthy
    command:
      - /opt/netbox/venv/bin/python
      - /opt/netbox/netbox/manage.py
      - rqworker
    ports: []
    expose: []
    labels: []
    healthcheck:
      test: ps -aux | grep -v grep | grep -q rqworker || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
    networks:
      - default
    restart: unless-stopped

  netbox-housekeeping:
    <<: *netbox-worker
    command:
      - /opt/netbox/housekeeping.sh
    healthcheck:
      test: ps -aux | grep -v grep | grep -q housekeeping || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s

  postgres:
    image: {{ netbox_postgres_image }}
    env_file: env/postgres.env
    volumes:
      - netbox-postgres-data:/var/lib/postgresql/data
    networks:
      - default
    restart: unless-stopped
    healthcheck:
      test: pg_isready -q -t 2 -d $$POSTGRES_DB -U $$POSTGRES_USER
      start_period: 20s
      timeout: 30s
      interval: 10s
      retries: 5

  valkey:
    image: {{ netbox_valkey_image }}
    command:
      - sh
      - -c # this is to evaluate the $VALKEY_PASSWORD from the env
      - valkey-server --appendonly yes --requirepass $$VALKEY_PASSWORD ## $$ because of docker-compose
    env_file: env/valkey.env
    volumes:
      - netbox-valkey-data:/data
    networks:
      - default
    restart: unless-stopped
    healthcheck: &valkey-healthcheck
      test: '[ $$(valkey-cli --pass "$${VALKEY_PASSWORD}" ping) = ''PONG'' ]'
      start_period: 5s
      timeout: 3s
      interval: 1s
      retries: 5

  valkey-cache:
    image: {{ netbox_valkey_image }}
    command:
      - sh
      - -c # this is to evaluate the $VALKEY_PASSWORD from the env
      - valkey-server --requirepass $$VALKEY_PASSWORD ## $$ because of docker-compose
    env_file: env/valkey-cache.env
    networks:
      - default
    restart: unless-stopped
    healthcheck: *valkey-healthcheck

volumes:
  netbox-media-files:
    driver: local
  netbox-postgres-data:
    driver: local
  netbox-valkey-data:
    driver: local

{% if netbox_additionnal_network_names %}
networks:
{% for network in netbox_additionnal_network_names %}
  {{ network }}:
    name: {{ network }}
    external: true
{% endfor %}
{% endif %}
