#jinja2: lstrip_blocks: True
# {{ ansible_managed }}

####
## This file contains extra configuration options that can't be configured
## directly through environment variables.
####

{{ netbox_extra_config }}
