# {{ ansible_managed }}

DB_NAME={{ netbox_pg_db }}
DB_USER={{ netbox_pg_user }}
DB_PASSWORD={{ netbox_pg_password }}
DB_HOST={{ netbox_pg_host }}

EMAIL_SERVER={{ netbox_email_server }}
EMAIL_PORT={{ netbox_email_port }}
EMAIL_USERNAME={{ netbox_email_username }}
EMAIL_PASSWORD={{ netbox_email_password }}
EMAIL_TIMEOUT={{ netbox_email_timeout }}
EMAIL_FROM={{ netbox_email_from }}

NAPALM_USERNAME={{ netbox_napalm_username }}
NAPALM_PASSWORD={{ netbox_napalm_password }}
NAPALM_TIMEOUT={{ netbox_napalm_timeout }}

REDIS_HOST={{ netbox_redis_host }}
REDIS_PASSWORD={{ netbox_redis_password }}
REDIS_DATABASE=0
REDIS_CACHE_DATABASE=1
REDIS_SSL=false

SUPERUSER_NAME={{ netbox_admin_username }}
SUPERUSER_EMAIL={{ netbox_admin_email }}
SUPERUSER_PASSWORD={{ netbox_admin_password }}
SUPERUSER_API_TOKEN={{ netbox_admin_api_token }}

SECRET_KEY={{ netbox_secret_key }}
WEBHOOKS_ENABLED={{ netbox_webhooks_enabled }}
MAX_PAGE_SIZE={{ netbox_page_size }}
MEDIA_ROOT={{ netbox_root_dir }}/media
LOGIN_REQUIRED={{ netbox_login_required }}
ENFORCE_GLOBAL_UNIQUE={{ netbox_enforce_global_unique }}
CORS_ORIGIN_WHITELIST={{ netbox_cors_origin_whitelist }}
CORS_ORIGIN_ALLOW_ALL={{ netbox_cors_origin_allow_all }}
